Django==4.2.4
dj-config-url==0.1.1
dj-database-url==2.1.0
Django==4.2.4
django-allauth==0.57.0
django-bootstrap-v5==1.0.11
django-extensions==3.2.3
django-widget-tweaks==1.5.0
gunicorn==21.2.0
heroku==0.1.4
psycopg2-binary==2.9.6
django-allauth==0.57.0
django-extensions==3.2.3
whitenoise==6.5.0