{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- What is displayed in the tab bar -->
    <title>Miguel's Floors | ABOUT</title>
    <link rel="icon" href="{% static 'favicon.png' %}">
    <!-- en = English | es = Español -->
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="moz-extension://a4850f92-f88a-46e2-8e83-0e829d8ef0d6/assets/prompt.js"></script>

    <!-- Bootstrap CSS styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Google Fonts icon styling -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Custom styling -->

    <style>
        /* 
            Desktop
        */
        @media screen and (min-width: 1200px) {

            .yelp-reviews {
                display: flex;
            }

            .temp {
                padding: 5%;
            }

        }

        /*
            Smartphones
        */
        @media screen and (max-width: 1200px) {

            .yelp-review {
                margin: auto;
            }

            .temp {
                padding: 5%;
            }

        }

        #lang-btn {
            background-color: transparent !important;
            border-color: transparent !important;
            color: grey !important;
        }

        body {
            padding-top: 150px;
        }

        h1 {
            text-align: center;
        }

        .info {
            padding-top: 50px;
        }

        /* p {
            padding-right: 100px;
        } */

        .card {
            margin: auto;
        }

        .page-cont {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand m-4" href="{% url 'index' %}">Miguel's Floors</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mx-4">
                        <a class="nav-link" href="{% url 'index' %}">home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="{% url 'contact' %}">contact</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link disabled" href="{% url 'about' %}">about</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="{% url 'gallery' %}">gallery</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a id="lang-btn" class="btn btn-secondary lang-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="material-symbols-outlined">language</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item disabled" href="#">English</a>
                            <a class="dropdown-item" href="{% url 'about-es' %}">Español</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<body>
    <div class="page-cont">
        <h1>Miguel's Floors: Your Trusted Flooring Expert Since 2003!</h1>

        <div class="container info">
            <div class="row g-0">
                <div class="col-md-8">

                    <p>&emsp; Based in Prince William County, Virginia, Miguel's Floors has been providing exceptional flooring services for over two decades. Whether you are a homeowner looking to upgrade your space or a business seeking durable, attractive flooring solutions, we are here to help. Our wide range of services is designed to enhance both the beauty and functionality of your environment, ensuring that your flooring not only looks great but also stands the test of time.</p>
                    <p>&emsp; At Miguel's Floors, we take immense pride in our commitment to delivering high-quality results and ensuring total customer satisfaction. Every project, whether large or small, receives the same level of care and attention. Our team of skilled professionals brings years of hands-on experience to each job, from restoring the natural luster of your hardwood floors through expert refinishing, to installing luxury vinyl plank (LVP) flooring that combines durability with style. We also specialize in carpet binding services, providing you with beautifully finished edges that enhance the appearance and longevity of your carpets.</p>
                    <p>&emsp; In addition to flooring, we offer remodeling services, giving you the ability to transform your space completely. Our remodeling solutions are designed to meet your specific needs, whether you're updating a single room or renovating your entire home or office. We believe that every project is a collaborative process, and that's why we work closely with our clients from start to finish, ensuring that the final result is exactly what you envision.</p>
                    <p>&emsp; At Miguel's Floors, we see each project as more than just a job, it's an opportunity to bring your unique vision to life. Our attention to detail, passion for flooring, and dedication to excellence have made us a trusted name in our community. Over the years, we've built a reputation not just for quality craftsmanship but for the personalized service we provide to every client.</p>
                    <p>&emsp; Thank you for considering Miguel's Floors for your next project. We look forward to helping you transform your space with our wide range of flooring and remodeling services. Whether it's a simple refresh or a complete overhaul, we are here to ensure your satisfaction every step of the way!</p>

                </div>
                <div class="col-md-4">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'Working_On_Stairs.jpg' %}" alt="Prep work to protect the house during a project.">
                        <div class="card-body">
                            <p class="card-text">Visit our gallery to see more!</p>
                            <a href="{% url 'gallery' %}" class="btn btn-primary">Gallery</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="nav-div" class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">Copyright © 2024 VRL</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/miguelsfloors/" aria-label="Visit our Facebook page."><img src="{% static 'Facebook_Logo_Primary.png' %}" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </footer>
    </div>






    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>